/*Botones del Header*/
.registrarse,.login
	border-radius 2px
	transition all 200ms ease-in-out
	border solid 1px #fff
.registrarse
	&:hover
		border solid 1px rojo
		background-color rojo
.login
	color c-header
	background-color #FFF
	transition all 200ms ease-in-out
	&:hover
		border solid 1px rojo
		background-color rojo
		color white
/*GRID*/
.grid 
	width 100%
	max-width 1366px
	position relative
	margin 0 auto
	padding 0
	
/*CLASES PARA COLORES*/
.fc-verde
	color verde
/*Posicion de letras*/
.ta-right
	text-align right !important
/*BORDES*/
.borde-left
	border-left 1px solid gris
.borde-right
	border-right 1px solid gris
	
/*Botones*/