header
	width 100%
	position fixed
	display block
	height 80px
	padding 0
	top 0
	background-color c-header
	color #fff	
	/*Arregla en chrome el parpadeo del scroll con el menu fixed*/
	transform: translateZ(0);
	ul
		position absolute
		top 0
		right 0
		width 30%
		font-weight 700
		
		li
			display inline-block
			width 45%
			padding 10px 0
			margin-right 10px
			text-align center

	