header
	width 100%
	position fixed
	display block
	border-bottom solid 2px rojo
	height 80px
	padding 0
	top 0
	z-index 9
	/*Arregla en chrome el parpadeo del scroll con el menu fixed*/
	transform: translateZ(0);
	ul
		position absolute
		top 0
		right 0
		border solid 1px yellow
		padding 10px 20px
		width 30%
		font-weight 700
		text-align center
		li
			display inline-block
			width 45%
			margin 0 -4px auto 0
			padding 10px 0
			text-align center
			transition all 200ms linear
			&:hover
				color rojo-hover

	